header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: red;
}

.header-part-one {
    display: flex;
    gap: 20px;
}

.header-part-two {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nintendo {
    height: 60px;
    background-color: red;
}

.search {
    text-decoration: underline;
}

.bigger-image img {
    width: 750px;
    height: 300px;
}

.sve {
    display: flex;
    flex-direction: row;
}

.picture-part img {
    width: 100px;
    height: 150px;
}

.nintendo-first-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: rgb(217 214 214 / 46%) 0px 0px 15px !important;
}

.nintendo-second-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: rgb(217 214 214 / 46%) 0px 0px 15px !important;
    margin-bottom: 120px;
}

.invisible {
    visibility: hidden;
}

.everything {
    background-color: #D7F1FA;
    box-shadow: rgb(217 214 214 / 46%) 0px 0px 15px !important;
    width: 100%;
    gap: 50px;
    height: 400px;
    justify-content: center;
}

.white-part {
    width: 1500px;
    background: white;
    box-shadow: rgb(217 214 214 / 46%) 0px 0px 15px !important;
    display: flex;
    margin-left: 200px;
    gap: 50px;
    justify-content: space-around;
}

.examples-of-game {
    display: flex;
    gap: 30px;
    margin-left: 200px;
}

.examples-of-game img {
    width: 100px;
    height: 50px;
}

.download {
    width: 350px;
    height: 50px;
    background-color: red;
    font-size: 20px;
    color: white;
}

.game-rights {
    box-shadow: rgb(217 214 214 / 46%) 0px 0px 15px !important;
    display: flex;
    margin-top: 25px;
    margin-left: 195px;
}

.game-rights img {
    width: 70px;
    height: 100px;
}

.game-rights-text {
    font-size: 4px;
}

.sve {
    display: flex;
    justify-content: center;
}

.seconed-part {
    width: 500px;
    display: flex;
    gap: 100px;
    justify-content: center;
    overflow: hidden;
}

.underline {
    color: red;
}

.game-informations {
    display: flex;
    justify-content: center;
}

.game-all {
    display: flex;

    gap: 100px;
}

.center-pic img {
    width: 1000px;
    height: 300px;

}

.center-pic {
    display: flex;
    justify-content: center;
}

.recently-viewed {
    display: flex;
    flex-direction: column;
    margin-left: 440px;
    gap: 100px;
    justify-content: center;
}

.viewed-games {
    display: flex;
    gap: 50px;
}

.viewed-games img {
    width: 76%;
    height: auto;
}

.text-viewed-gamess {
    font-size: 9px;
}

.nintendo-informations {
    display: flex;
    flex-direction: column;

}

.about-nintendo {
    display: flex;

    justify-content: space-evenly;
    margin-top: 50px;
}

.nintentdo-text-red {
    color: red;
}

footer {
    background-color: gray;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}